@use 'sass:color';
@import 'variables';
@import 'mixins';

.button {
    padding: 5px 15px;
    background: $bg-accent;
    color: $text-color;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background: transparent;
}

.button:hover {
    color: color.adjust($text-color, $lightness: -10%);
}

.border {
    @include border;
}
