@use 'variables/board';

.cell {
    position: relative;
    height: min((#{board.$size} / 3), calc(#{board.$min-size} / 3));

    button {
        font-size: 3em;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
    }
}
