@use 'variables/themes';

// Use only inside 'themes' mixin
@function theme-get($key) {
    @return map-get($theme-map, $key);
}

@mixin themes($themes: themes.$theme-map) {
    @each $theme-name, $theme-properties in $themes {

        &:global(.theme-#{$theme-name}) {
            $theme-map: () !global;
            @each $key, $_ in $theme-properties {
                $value: map-get(map-get($themes, $theme-name), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }
}
