@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $text-color;
    text-decoration: none;
}

body {
    background: $bg;
    color: $text-color;
}

.Index {
    display: flex;
    flex-direction: column;
    align-items: center;
}
