@use 'themes';

.button {
    @include themes.themes {
        color: themes.theme-get(text);

        &:not(:disabled):hover {
            color: themes.theme-get(text-hover);
        }
    }

    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background: transparent;

    &.border {
        @include themes.themes {
            border: themes.theme-get(border);
            border-radius: themes.theme-get(border-radius);
        }
    }
}
