//$bg: #242526;
$bg: #dadde0;
//$bg-accent: #484a4d;
$bg-accent: #ededee;
$table-size: 400px;
$table-min-size: 52vw;

//$text-color: #dadce1;
$text-color: #272728;
//$border: 1px solid #777b85;
$border: 1px solid #666972;
$border-radius: 8px;