@use 'themes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include themes.themes {
        background: themes.theme-get(background);
        color: themes.theme-get(text);
    }
}
