@use 'sass:color';

$theme-map: (
        light: (
                background: #dadde0,
                background-accent: #ededee,
                border: 1px solid #666972,
                border-radius: 8px,
                text: #272728,
                text-hover: color.adjust(#272728, $lightness: +10%)
        ),

        dark: (
                background: #242526,
                background-accent: #484a4d,
                border: 1px solid #777b85,
                border-radius: 8px,
                text: #dadce1,
                text-hover: color.adjust(#dadce1, $lightness: -10%)
        )
)
